body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.8rem;
}

p{
    color: hsl(215, 51%, 70%);
    font-size: 1.125rem;
    line-height: 1.8rem;
}

hr{
    border-color: hsl(215, 51%, 70%);
    border-style: solid;
    border-left: 1px;
    opacity: 0.2;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    padding: 1.2rem;
    height: 38rem;
    width: 20rem;
    border-radius: 1rem;

}

.img-cube{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}

.cripto-container{
    margin-bottom: 2rem;
}

.coin{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    text-align: left;
    margin-right: 8rem;
    margin-left: 0.2rem;
    vertical-align: top;
}

.time-left{
    color: hsl(215, 51%, 70%);
    margin-left: 0.2rem;
    vertical-align: top;
}

.credits-container{
    margin-top: 1rem;
}

.text-credits{
    position: absolute;
    text-align: right;
    display: inline;
    transform: translateY(-0.6rem);
    margin-left: 0.5rem;
    
}

.img-credits{
    display: inline-block;
    width: 2.5rem;
    border: 1px;
    border-style: solid;
    border-radius: 5rem;
    border-color: hsl(0, 0%, 100%);
}

.white{
    color: hsl(0, 0%, 100%)
}